# Auto detect text files and perform LF normalization
* text=auto
/Intermediate_R_objects/ROHR_06_obj_newTaxanames_KEY.csv filter=lfs diff=lfs merge=lfs -text

/Intermediate_R_objects/Figs/*.pdf filter=lfs diff=lfs merge=lfs -text

